body{
  background-image: url(/assets/img/background.jpg);
  text-align: center;
}

.card-img {
  float: left;
  width: 250px;
  height: 250px;
  margin-bottom: 5px;
  margin-right: 15px;
  border-radius: 30px;
  border: 2px solid rgb(124, 5, 124);
}
textarea {
  width: 300px;
  margin: 10px;
}
ol {
  list-style: decimal inside;
}
.done {
  border: 1px solid black;
  background-color: lightgray;
  padding: 3px 15px;
  /* padding-right: 50px; */
  color: rgba(46, 44, 44, 0.671);
  width: 400px;

}

ol li span {
  float: left;
  width: 300px;
}
 .notDoneYet {
  border: 1px solid black;
  padding: 5px 5px;
  background-color: violet;
  margin-right: 10px;
  border-radius: 10px;
  
}
li {
  list-style: none;

}
.liNotDone {
  margin-bottom: 25px;
  height: 30px;
}
h6{
  color: wheat;
  margin-top: 20px;
  margin-bottom: 100px;
}

.dev{
  float: left;
  margin-left: 15px;
}